/packages/
/bin/
/obj/ 
*.log

NguyenThiNga_Module02_ThucThi/UnitTestProject_Module02/packages
NguyenThiNga_Module02_ThucThi/UnitTestProject_Module02/bin
NguyenThiNga_Module02_ThucThi/UnitTestProject_Module02/obj

NguyenThiNga_Module03_ThucThi/Module03/packages
NguyenThiNga_Module03_ThucThi/Module03/bin
NguyenThiNga_Module03_ThucThi/Module03/obj

NguyenThiNga_Module03_ThucThi/Module03Tests/bin
NguyenThiNga_Module03_ThucThi/Module03Tests/obj



